<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>About Page</title>
	<style type="text/css">
		#header{
			width: 100%;
			height: 40px;
			background-color: yellow;
		}
		h1{
			text-align: center;
			font-size: 24px;
		}

		h5{
			font-size: 15px;
		}

	</style>
</head>
<body>

	<div id = "header">
			<h1 class = "header">Welcome to about page </h1>
	</div>

	<article>
		<h3>It's Mohamed Abdelhamid </h3>


		<h5>
			Passionate and energetic student, enthusiastic about Web Develpment and Data science with
			Over 2 years of learning and applying journey, looking for an opportunity to work in a real
			projects combining my skills in Software engineering, Which provides professional
			development, interesting experiences and personal growth.
		</h5>
		<h2 style="background-color: cyan;">Education</h2>
		<h5>
			Faculty of Engineering Mansoura University
			Computer Engineering department
			“3 rd
			Year
			GPA: 3.0
			Expected graduation Year: 2022
		</h5>
		<h2 style="background-color: cyan;">Skills</h2>
		<h5>
			Python, C++,Familiar with(Java) , OOP, Data structure, Problem Solving ,Database(SQL)
			Web tech(basic Django , html)
			Data science (Data Cleaning, Data Visualization, Machine Learning)	
		</h5>
	</article>

</body>
</html>