{% extends 'product_app/base.html' %}

{% block content %}
    <p>Enter your information!</p>
    <form action="">
        
        Name: <input type="text" name="name" id="" placeholder="Enter Your Name"><br><br>
        email: <input type="email" name="email" id=""placeholder="Enter Your Email"><br><br>
        message: <textarea name="message" id="" cols="30" rows="10" placeholder="Enter Your message here!">

        </textarea><br><br>
        <input style="  background-color: rgb(40, 173, 80);
            color: black;
            border: 2px solid #4CAF50;"type="submit" value="send">

    </form>
{% endblock content %}
